@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div>
    <h1>Нулевая отчетность</h1>
    <p>Закажите <a href="/NullOtch">нулевую отчетность</a>.</p>
    <br />
    <h1>Бухгалтерская отчетность</h1>
    <p>Закажите <a href="/BuhOtch">бухгалтерскую отчетность</a>.</p>
    <br />
</div>